img {
  display: inline;
  margin: auto;
  vertical-align: middle;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 1rem 0 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  text-align: center;
}

th:nth-child(1) { width: 20%; }
th:nth-child(2) { width: 30%; }
th:nth-child(3) { width: 45%; }
th:nth-child(4) { width: 5%; }

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left {
  clear: left;
  float: left;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.right {
  clear: right;
  float: right;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
